KR8_SERVER_MODE=1
KR8_HOST=127.0.0.1
KR8_PORT=5174
KR8_PROJECTS_ROOT=
KR8_EXPORTS_ROOT=
KR8_TKMUSIC_LIBRARY_ROOT=
KR8_FFMPEG_PATH=
KR8_FFPROBE_PATH=
KR8_BROWSER_PATH=
KR8_INTERNAL_ORIGIN=http://127.0.0.1:5174
KR8_CHROME_NO_SANDBOX=0
KR8_AUTH_USER=
KR8_AUTH_PASSWORD=
KR8_HEADLESS_EXPORT_CONCURRENCY=1
KR8_MAX_UPLOAD_MB=25
KR8_MAX_AUDIO_UPLOAD_MB=1024
